body {
    margin-top: 800px;
}

td {
    border: 1px solid #ccc;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

/* For rotation of table headers*/

th.rotate {
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
            translate(25px, 51px)
            rotate(315deg);
    width: 35px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 2px 10px;
}

